header {
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
}

main {
    display: block;
    background: #FFFFFF;
    padding: 1px 20px 20px 30px;
    overflow: auto;
}

nav {
    font-weight: bold;
    font-size: 120%;
    padding: 0;
    text-align: center;
    align-items: center;
}

footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, 'Times New Roman', serif;
    padding: 2em;
    background-color: #FFFFFF;
}

.purchase-area {
    text-align: center;
}

.chart {
    text-align: center;
    margin-top: 20px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* {
    box-sizing: border-box;
}

body {
    background-color: #EAEAEA;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    background-color: #90C7E3;
    background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
    background-repeat: no-repeat;
}

header {
    background-color: #002171;
    color: #FFFFFF;
    text-align: center;
}

main {
    display: block;
    background: #FFFFFF;
    padding: 1px 20px 20px 30px;
    overflow: auto;
}

nav {
    font-weight: bold;
    font-size: 120%;
    padding: 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
}

nav li {
    border-bottom: 1px solid #000033;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #5C7FA3;
    text-decoration: none;
}

nav a:visited {
    color: #344873;
    text-decoration: none;
}

nav a:hover {
    color: #A52A2A;
    text-decoration: none;
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
    font-family: Georgia, 'Times New Roman', serif;
    letter-spacing: 0.25em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h2 {
    color: #1976D2;
    font-family: Georgia, 'Times New Roman', serif;
    text-shadow: 1px 1px 1px #CCCCCC;
}

h3 {
    color: #000033;
    font-family: Georgia, 'Times New Roman', serif;
}

ul {
    list-style-image: url("marker.gif");
}

dt {
    color: #002171
}

footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, 'Times New Roman', serif;
    padding: 2em;
    background-color: #FFFFFF;
}

.resort {
    color: #1976D2;
    font-weight: bold;
}

#contact {
    font-size: 90%;
}

table {
    border: 2px solid #3399CC;
    border-collapse: collapse;
}

td, th {
    padding: 0.5em;
    border: 2px solid #3399CC;
}

td {
    text-align: center;
}

.text {
    text-align: left;
}

table tr:nth-of-type(odd) {
    background-color: #F5FAFC;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

input,
textarea {
    margin-bottom: 0.5em;
}

#homehero {
    height: 300px;
    background-image: url("coast2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#yurthero {
    height: 300px;
    background-image: url("yurt.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#trailhero {
    height: 300px;
    background-image: url("trail.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header a:link,
header a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

header a:hover {
    color: #90C7E3;
}

@media (min-width: 600px) {
    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    nav li {
        border-bottom: none;
    }

    .flow {
        display: flex;
        flex-direction: row;
    }

    section {
        margin-left: 2em;
        margin-right: 2em;
        flex: 1;
    }

    form {
        width: 60%;
        max-width: 30em;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 6em 1fr;
    }

    input[type="submit"],
    button[type="submit"] {
        grid-column: 2 / 3;
        width: 9em;
    }
}

@media (min-width: 1024px) {
    #wrapper {
        margin: 0 auto;
        width: 80%;
        border: 1px solid #000033;
        box-shadow: 3px 3px 3px #000033;
    }

    nav {
        text-align: left;
        padding-left: 1em;
    }


    @supports (display: grid) {
        nav ul {
            flex-direction: column;
            padding-top: 1em;
        }

        .hero {
            grid-area: hero;
        }

        header {
            grid-area: header;
        }

        nav {
            grid-area: nav;
        }

        main {
            grid-area: main;
        }

        footer {
            grid-area: footer;
        }

        #wrapper {
            display: grid;
            grid-template-areas:
                "header header"
                "nav hero"
                "nav main"
                ". footer";
            grid-template-columns: 180px 1fr;
            gap: 0;
        }
    }
}/
